*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}
.navbar{
    height: 50px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(ama.png);
    height: 50px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  
  
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}/**box2**/
.first{
    color: aliceblue;
    font-size: 0.5;
    margin-left: 15px;
}
.sec{
    color: white;
    margin-left: 3px;
}
.add-icon{
    display:flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width:620px;
    height: 40px;
    border-radius: 4px;
}
.select-search{
    background-color: whitesmoke;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    align-items:center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border:2px solid orange;
}
/** box4**/
span{
    font-size:0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 0.85 rem;
    font-weight: 700;
}
/**panel**/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px ;
    margin-left: 0px;
}
.panel-all{
    margin-left: 0px;
    padding: 8px 9px;
    align-self: self-end;
    
}
.panel-ops p{
    display: inline;
    width: 70%;
    font-size: 0.85rem;
    padding:10px;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    background-image: url(IMG1.jpg);
    background-color: #222f3d;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-mesg{
    background-color:transparent;
    color: black;
    height: 40px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 25px;
}
.hero-section a{
    color: #007185;

}


/**shopsection**/
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}
.box{
   /** border: 2px solid black; **/
    height: 300px;
    width: 20%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;
}
.box-img{
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color: #007185;
    position: relative;
    margin-bottom: 20px;
    
}
/** footer**/
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    position: relative;
    margin-bottom: 0px;
}


.style{
    font-size: 1.5rem;
    font-weight: 50px;
}
.a-sty{
    display: block;
    font-size: 1rem;
}
.in-box{
    padding: 0px 10px;
    margin: 5px;
    width: 25%;
}
.foot-panel2{
        background-color: #232f3e;
        color:white;
        height: 400px;
        display: flex;
        justify-content:space-evenly ;
        align-items: center;
        font-size: 0.85rem;
        position: relative;
        margin-bottom: 0px;
}
.l-panel{
    background-color: #232f3e;
    color: white;
    font-size: 1rem;
    height: 150px;
    border: 2px solid white;
    display: flex;
    align-items: end;
    justify-content: space-evenly;


}

.logo1{
    background-image: url(ama.png);
    height: 30px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #232f3e;
    color: #e2e7e6;
    align-self: center;
    padding: 0px 10px;
    position: absolute;
}
.l-box{
    margin-bottom: 0px;
}



.l-text{
    margin-buttom: 0px;
    color: aliceblue;
    position: absolute;
    padding: 0px 10px;
    
}
  
